.map-container {
  width: 1000px;
  height: 1000px;
}
.marker .text {
  display: none;
}
.marker {
  display: flex;
}
.marker:hover .text {
  color: black;
  margin-left: 2rem;
  display: flex;
  background: white;
  border-radius: 45px;
  padding: 10px;
  gap: 5px;
  align-items: center;
}
.exit-button {
  border: none;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 2px;
  border-radius: 15px;
  width: 100px;
  height: 20px;
  background: white;
}
.reset-button {
  border: none;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 110px;
  border-radius: 15px;
  width: 100px;
  height: 20px;
  background: white;
}
.delete-button {
  border: none;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 220px;
  border-radius: 15px;
  width: 100px;
  height: 20px;
  background: white;
}
.map-input {
  border: none;
  width: 10vw;
}
.map-change-button {
  border: none;
  background: white;
  width: 4vw;
  height: 15px;
}
